.form-btn {
    padding: 10px 80px;
    margin: 50px auto;
    width: 100%;
    background-color: rgb(255, 174, 75);
    color: white;
    border-radius: 5px;
    box-shadow: none;
    border: none;
}

form {
    width: 60%;
    padding-top: 30px;
}

.form-container {
    display: flex;
    justify-content: space-between;
}

form label {
    color: rgb(253, 142, 7) !important;
    display: block;
    margin-top: 1rem;
    margin-bottom: 10px;
}

.address {
    margin-top: 10px;
}

select {
    display: block;
}
