.form-header, .table-title {
    width: 100%;
    background-color: rgb(241, 241, 241);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.form-header h2, .table-title h2 {
    padding-left: 50px;
    font-weight: 600;
    font-size: 30px;
    margin: 25px 0;
}

.link-to-employee-list, .link-to-create-employee {
    margin-left: 8.5%;
}

.link-to-employee-list, .link-to-create-employee {
    color: white;
}

.template a:active {
    background-color: #0975fb;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
}

.fade-in { animation: fadeIn 0.4s forwards; }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}