.table-section-container {
    margin: 20px;
    background-color: white;
    padding: 20px;
}

.table-footer, .table-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

